.csstile{
    color: antiquewhite;
    font-size: 2vh;
    font-weight: bolder;
}
.marggg{
    position: relative;
    margin-block: 5%;
}
.Hanalyse{
    color: beige;
    font-size: 6vh;
    font-weight: bolder;
}
.Enutilisa{
    color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vh;
}