.bck{
    position: relative;
    background-color: darkolivegreen;
    
}
.margBu{
    font-weight: bold;
    font-size: 6vh;
    color: white;
    margin-block: 6%;
    text-shadow: 2cap;
}
.linkm{
    position: relative;
    color: #e5e9aa;;
    font-size: 3vh;
    margin-block: 6%; 
}